!cs330assignment1/

cs330assignment1/*
!cs330assignment1/nachos/

cs330assignment1/nachos/*
!cs330assignment1/nachos/code

cs330assignment1/nachos/code/*

!cs330assignment1/nachos/code/threads/

!cs330assignment1/nachos/code/machine/

!cs330assignment1/nachos/code/userprog/
!cs330assignment1/nachos/code/test/
!cs330assignment1/nachos/code/README_group19.txt
!cs330assignment1/nachos/code/group19.zip

!cs330assignment2/

cs330assignment2/*
!cs330assignment2/nachos/

cs330assignment2/nachos/*
!cs330assignment2/nachos/code

cs330assignment2/nachos/code/*

!cs330assignment2/nachos/code/threads/

!cs330assignment2/nachos/code/machine/

!cs330assignment2/nachos/code/userprog/
!cs330assignment2/nachos/code/test/
!cs330assignment2/report.tex

!cs330assignment3/

cs330assignment3/*
!cs330assignment3/nachos/

cs330assignment3/nachos/*
!cs330assignment3/nachos/code

cs330assignment3/nachos/code/*

!cs330assignment3/nachos/code/threads/

!cs330assignment3/nachos/code/machine/

!cs330assignment3/nachos/code/userprog/
!cs330assignment3/nachos/code/test/
