!cs330assignment1/

cs330assignment1/*
!cs330assignment1/nachos/

cs330assignment1/nachos/*
!cs330assignment1/nachos/code

cs330assignment1/nachos/code/*

!cs330assignment1/nachos/code/threads/

!cs330assignment1/nachos/code/machine/

!cs330assignment1/nachos/code/userprog/
!cs330assignment1/nachos/code/test/
!cs330assignment1/nachos/code/README_group19.txt
!cs330assignment1/nachos/code/group19.zip
